<div class="container3">
  <h1><%= recipe.label %></h1>
  <h3>from "<%= recipe.source %>"</h3>
  <div class="recipe">
    <div class="recipedetail">
      <div class="recipe-left">
        <img src="<%= recipe.image %>" alt="" width=200px>
        <a href="<%= recipe.url %>">See full recipe</a>
      </div>
    
      <div class="recipe-right">
        <ul>
          <% ingredients.forEach(ingredient => { %>
            <li><%= ingredient %></li>
          <% }) %>
          </ul>
      </div>
    </div>
    
  </div>
  
  
    
  <% if (user) { %>
    <div class="save">
      <form action="/recipes" method="POST">
        <input type="hidden" name="label" value="<%= recipe.label %>">
        <input type="hidden" name="uri" value="<%= recipe.uri %>">
        <input type="hidden" name="image" value="<%= recipe.image %>">
        <input type="hidden" name="source" value="<%= recipe.source %>">
        <input type="hidden" name="url" value="<%= recipe.url %>">
        <input type="hidden" name="ingredientLines" value="<%= recipe.ingredientLines %>">
        <input type="hidden" name="cautions" value="<%= recipe.cautions %>">
        <input type="hidden" name="dietLabels" value="<%= recipe.dietLabels %>">
        <input type="hidden" name="healthLabels" value="<%= recipe.healthLabels %>">
        
        <% let recipeLovers = [] %>
        <% users.forEach(recipeUser => { %>
        <% recipeLovers.push(recipeUser.id) %>
        <% }) %>
        <% if(!recipeLovers.includes(user.dataValues.id)) { %>
          <input class="seemoreinfo" type="submit" value="Save">
        <% } %>
      </form>
    </div>


    <% if(reviews) { %>
      <div class="reviews">
        <% reviews.forEach(review => { %>
          <div class="review-detail">

            <% if(user.id === review.dataValues.userId) { %>
              <div class="review-detail1">
                <h4 class="rating"><% const rating = review.dataValues.rating  %>
                  <% for(let i = 0; i < rating; i++) { %>
                    ⭐️ 
                  <% } %>
                </h4>
              </div>
              <div class="review-detail2">
               
                <h4>update your review:</h4>
                <form action="/reviews/<%= review.id %>/?_method=PUT" method="POST">
                  <input type="hidden" name="uri" value="<%= recipe.uri %>">
                  <input type="number" placeholder="<%= review.dataValues.rating %>" max="5" min="1" name="rating">
                  <input type="text" placeholder="<%= review.dataValues.content %>" name="content">
                  <input class="seemoreinfo" type="submit" value="Update Review">
                </form>
              
                <form action="/reviews/<%= review.id %>/?_method=DELETE" method="POST">
                  <input type="hidden" name="uri" value="<%= recipe.uri %>">
                  <input class="seemoreinfo space" type="submit" value="Delete Review">
                </form>

              </div>


              <% } else { %>
                <div class="review-detail1">
                  <h4 class="rating"><% const rating = review.dataValues.rating  %>
                    <% for(let i = 0; i < rating; i++) { %>
                      ⭐️ 
                    <% } %>
                  </h4>
                </div>
              
                <div class="review-detail2">
                  <h4 class="username"><%= review.dataValues.user.username %> says:</h4>
                  <h4><%= review.dataValues.content %></h4>

                </div>
              <% } %>
              
          </div>        
        <% }) %>
      </div>
    <% } %>
            
      <form action="/reviews" method="POST">
        <label for="rating">Rate this Recipe:</label>
        <input type="number" max="5" min="1" placeholder="5" name="rating" id="rating">
        <input type="hidden" name="label" value="<%= recipe.label %>">
        <input type="hidden" name="uri" value="<%= recipe.uri %>">
        <input type="hidden" name="image" value="<%= recipe.image %>">
        <input type="hidden" name="source" value="<%= recipe.source %>">
        <input type="hidden" name="url" value="<%= recipe.url %>">
        <input type="hidden" name="ingredientLines" value="<%= recipe.ingredientLines %>">
        <input type="hidden" name="cautions" value="<%= recipe.cautions %>">
        <input type="hidden" name="dietLabels" value="<%= recipe.dietLabels %>">
        <input type="hidden" name="healthLabels" value="<%= recipe.healthLabels %>">
        <input type="text" placeholder="leave your review here" name="content">
        <input class="seemoreinfo" type="submit" value="Add Review">
      </form>
    
  <% } else { %>
    <% if(reviews) { %>
      <div class="reviews">
        <% reviews.forEach(review => { %>
          <div class="review-detail">
            <div class="review-detail1">
              <h4 class="rating"><% const rating = review.dataValues.rating  %>
                <% for(let i = 0; i < rating; i++) { %>
                  ⭐️ 
                <% } %>
              </h4>
            </div>
            <div class="review-detail2">
              <h4 class="username"><%= review.dataValues.user.username %> says:</h4>
              <h4><%= review.dataValues.content %></h4>
            </div>
          </div>
        <% }) %>
      </div>
    <% } %>
  <% } %> 
  
</div>
