<%- include('../partials/search.ejs') %>
<% if (user) { %>
    <h2>Here are the results, <%= user.username %>! Recipes with <%= search %> </h4>
<% } else { %>
    <h2>Here are the results</h2>
<% } %> 

<% if (user) { %>
    <% hits.forEach(hit => { %>
        <h4><%= hit.recipe.label %></h4>
        <form action="/recipes/detail" method="GET">
            <input type="hidden" name="uri" value="<%= hit.recipe.uri %>">
            <input type="submit" value="See More Info">
        </form>
        <form action="/recipes" method="POST">
            
            <input type="hidden" name="label" value="<%= hit.recipe.label %>">
            <input type="hidden" name="uri" value="<%= hit.recipe.uri %>">
            <input type="hidden" name="image" value="<%= hit.recipe.image %>">
            <input type="hidden" name="source" value="<%= hit.recipe.source %>">
            <input type="hidden" name="url" value="<%= hit.recipe.url %>">
            <input type="hidden" name="ingredientLines" value="<%= hit.recipe.ingredientLines %>">
            <input type="hidden" name="cautions" value="<%= hit.recipe.cautions %>">
            <input type="hidden" name="dietLabels" value="<%= hit.recipe.dietLabels %>">
            <input type="hidden" name="healthLabels" value="<%= hit.recipe.healthLabels %>">
            
        </form>
    <% }) %>
<% } else { %>
    <% hits.forEach(hit => { %>
        <h4><%= hit.recipe.label %></h4>
        <form action="/recipes/detail" method="GET">
            <input type="hidden" name="uri" value="<%= hit.recipe.uri %>">
            <input type="submit" value="See More Info">
        </form>
    <% }) %>
<% } %> 
