<div class="container2">

    <div class="search-side">
        <%- include('../partials/search.ejs') %>
    </div>
    
    <div class="recipelist">
    
        <% if (user) { %>
            <h2>Here are the results, <%= user.username %>! There are <%= count %> recipes with <%= search %> </h2>
                <% if (count > 100) { %>
                    <p>try adding ingredients or limiting maximum ingredients to find fewer results</p>
                <% } %>
        <% } else { %>
            <h2>Here are the results! There are <%= count %> recipes with <%= search %></h2>
            <% if (count > 100) { %>
                <p>try adding ingredients or limiting maximum ingredients to show fewer results</p>
            <% } %>
        <% } %> 
        
        <% hits.forEach(hit => { %>
            <div class="recipecard">
                <div class="recipe1">
                    <h3><%= hit.recipe.label %></h3>
                </div> 
                <div class="recipe2">
                    <h4>from "<%= hit.recipe.source %>"</h4>
                    <form class="seemore" action="/recipes/detail" method="GET">
                        <input type="hidden" name="uri" value="<%= hit.recipe.uri %>">
                        <input class="seemoreinfo" type="submit" value="See More Info">
                    </form>

                </div>
            </div>

        <% }) %>
     
    </div>
    
</div>    
